<a href="https://colab.research.google.com/github/YvixMiHo/TensorFlow_Developer_Skills/blob/main/Neural_Network_Regression_LearningObjectives_2_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Import Depenedencies

In [208]:
import numpy as np 
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd

from tensorflow.keras.models import Sequential
from tensorflow.keras import optimizers, losses

from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

In [209]:
random_states = 42
test_size = 0.2
epochs = 100

# 2. Load Enviornment / Data set

In [210]:
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")

## 2.a Make sense of the data, use confusion matrix if necessary

In [211]:
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## 2.b Validate data shape*

## 2.c Visualize the data

## 2.d* preprocess data

In [212]:
ct = make_column_transformer(
    
    (MinMaxScaler(), ["age", "bmi","children"]),
    (OneHotEncoder(handle_unknown = "ignore"), ["sex", "smoker","region"])

)

In [213]:
training = insurance.drop("charges",axis = 1)
validation = insurance["charges"]

In [214]:
training_data, training_labels, validation_data, validation_labels  = train_test_split(training, validation, test_size = test_size, random_state = random_states)

In [215]:
# one hot encode categorical values

## 2.e* extract features of pre-trained model

## 2.e* use data augmentation and dropout

In [216]:
ct.fit(training_data)
training_data_norm = ct.transform(training_data)
training_labels_norm = ct.transform(training_labels)

In [217]:
training_data_norm[0]

array([0.60869565, 0.10734463, 0.4       , 1.        , 0.        ,
       1.        , 0.        , 0.        , 1.        , 0.        ,
       0.        ])

# 3. Create, Train and Fit model

In [218]:
tf.random.set_seed(random_states)

In [219]:
insurance_model = tf.keras.Sequential([

  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(100),
  tf.keras.layers.Dense(10),
  tf.keras.layers.Dense(1)


])

In [223]:
insurance_model.compile(
                  loss=losses.mae,
                  optimizer=optimizers.Adam(lr = 0.001),
                  #optimizer=optimizers.SGD(),
                  metrics=['mae']
)

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [221]:
history = insurance_model.fit(training_data_norm, validation_data, epochs = epochs, verbose = 0)

In [222]:
insurance_model.evaluate(training_data_norm, validation_data)

34/34 [==============================] - 0s 2ms/step - loss: 3474.6421 - accuracy: 0.0000e+00

[3474.64208984375, 0.0]

## 3.a* use (pre-trained model)transfer learning if necessary

## 3.b* extract features of pre-trained model

## 3.c* match test data to inputshape of neural network

## 3.d* match output data of a neural network to speicifed inputshape for test data

## 3.e* use batch loading of data

## 3.f* use callbacks to trigger the end of training cycles

# 4. Evaluate the model

## 4.a Visualize the model

## 4.b* Plot loss and accuracy of a trained model

## 4.c* use model to predict results